<div class="header" *ngIf="!isAuthenticated; else elseBlock">
  <div class="header-left"></div>
  <div class="header-right">
    <div class="user-info-dropdown">
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <span class="user-icon"><i class="dw dw-user1"></i></span>&nbsp;
          <span class="user-name">{{ name }}</span>&nbsp;
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
          <a class="dropdown-item" href="/profile"><i class="dw dw-user1"></i> Profile</a>
          <a class="dropdown-item" href="" data-method="delete"><i class="dw dw-logout"></i> Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="login-header box-shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="brand-logo">
        <!-- <a href="<%= dashboard_path %>">
          <img src="/vendors/images/zinger-logo.svg" alt="">
        </a> -->
      </div>
      <div class="login-menu">
        <ul>
          <li>
            <!-- <% if "#{params['controller']}##{params['action']}" == 'admin/auth/login#index' %>
            <% if @payload && @payload['two_fa']['status'] == Employee::TWO_FA_STATUSES['UNVERIFIED'] %>
            <%= link_to 'Logout', auth_logout_path, method: :delete %>
            <% else %>
            <%= link_to 'Register', auth_signup_index_path %>
            <% end %>
            <% else %>
            <%= link_to 'Login', auth_login_index_path %>
            <% end %> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
