<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7"><img alt="" src="/assets/images/login.svg"/></div>

      <div class="col-md-6 col-lg-5">
        <div class="login-box bg-white box-shadow border-radius-10">
          <div class="login-title">
            <h2 class="text-center text-primary">Login to Zinger</h2>
          </div>

          <form (ngSubmit)="submitForm()" [formGroup]="authForm">
            <div class="select-role">
              <div class="btn-group btn-group-toggle" formControlName="role" ngbRadioGroup>
                <label class="btn" ngbButtonLabel>
                  <input ngbButton type="radio" value="Admin">
                  <div class="icon"><img alt="" class="svg" src="/assets/images/briefcase.svg"/></div>
                  <span>I'm Cocomo</span>Admin
                </label>
                <label class="btn" ngbButtonLabel>
                  <input ngbButton type="radio" value="Employee">
                  <div class="icon"><img alt="" class="svg" src="/assets/images/person.svg"/></div>
                  <span>I'm Cocomo</span>Employee
                </label>
              </div>
            </div>

            <form-input inputType="email" placeholder="hello@example.com" name="email"></form-input>
            <form-input inputType="password" placeholder="**********" name="password"></form-input>

            <div class="row pb-30">
              <div class="col-12"><div class="forgot-password"><a routerLink="/auth/forgot_password">Forgot Password?</a></div>
              </div>
            </div>

            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Login Now"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
