<div (click)="focus()" class="chip">
  <div *ngFor="let chip_value of value" class="chip_container">
    {{chip_value}}
    <button type="button" (click)="removeChip(chip_value, $event)">
      &#10006;
    </button>
  </div>
  <input type="text" #inputElement [style.width]="inputElement.value.length * 10 + 10 + 'px'" (keyup)="addChipEvent($event)" (keydown)="preventDefaultTabBehavior($event)"
    class="chip_input" />
</div>

<div *ngIf="inputElement.value.length && chipSuggestions && chipSuggestions.length" class="chip-suggestions">
  <button type="button" (click)="addSuggestedValue(suggestion)" *ngFor="let suggestion of chipSuggestions" class="chip-suggestions_tag">{{suggestion}}</button>
</div>
