<breadcrumb [data]="breadCrumbData" title="Add New Item"></breadcrumb>
<form (ngSubmit)="submitItemDetails(accordion)" [formGroup]="itemDetailsForm" class="item-details">
  <ngb-accordion #accordion="ngbAccordion" [destroyOnHide]="false" activeIds="ngb-panel-0">
    <ngb-panel id="basicInfoPanel">
      <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
        <accordion-header [accordion]="accordion" [opened]="opened" [panelId]="'basicInfoPanel'"
                          title='Basic Information'></accordion-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <label class="required">Name</label>
            <form-input inputType="text" name="name" placeholder="Margherita Pizza"></form-input>
          </div>
          <div class="col-md-6 col-lg-6">
            <label class="required">Category</label>
            <div class="form-group form-group-category">
              <ng-select [clearable]="false" [searchable]="false" formControlName="category"
                         notFoundText="No category found"
                         placeholder="South Indian">
                <div *ngIf="itemDetailsForm.get('item_type').value !== null && meta[itemDetailsForm.get('item_type').value] !== undefined">
                  <ng-option *ngFor="let category of meta[itemDetailsForm.get('item_type').value]['category']"
                             [value]="category['reference_id']">{{category['title']}}</ng-option>
                </div>
              </ng-select>
              <div class="form-control-feedback has-danger"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <label class="required">Description</label>
            <div class="form-group form-group-description">
              <textarea class="form-control form-control-lg" formControlName="description"
                        placeholder="Describe your restaurant in less than 250 words"
                        rows="6"></textarea>
              <div class="form-control-feedback has-danger"></div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div>
              <label>Type</label>
              <form-input inputType="text" name="item_type" placeholder="Food" readonly="true"
                          styleClass="text-uppercase"></form-input>
            </div>

            <div>
              <label>Status</label>
              <form-input inputType="text" name="status" placeholder="ACTIVE" readonly="true"
                          styleClass="text-uppercase"></form-input>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div>
              <label>Is Item Available?</label><br>
              <ui-switch (click)="updateItemActiveStatus()" [(ngModel)]="isItemActive"
                         [ngModelOptions]="{standalone: true}"></ui-switch>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="mediaInfoPanel">
      <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
        <accordion-header [accordion]="accordion" [opened]="opened" [panelId]="'mediaInfoPanel'"
                          title='Media Information'></accordion-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row m-1">
          <div class="col-md-12 col-lg-12">
            <label class="required">Upload Icon</label>
            <br>
            <div class="row">
              <div *ngIf="iconSrc; else placeholderimage">
                <image-preview (deleteImageEvent)="deleteImage($event, 'icon')" [imageSrc]="iconSrc"
                               imageType="icon"></image-preview>
              </div>
              <ng-template #placeholderimage>
                <img (click)="browseFiles('icon')" class="ml-3 cursor-pointer" height="70"
                     src="/assets/images/upload-image.png"
                     width="70"/>
              </ng-template>
            </div>
            <form-input (change)="onFileChange($event, 'icon')" inputType="file"
                        name="icon"></form-input>
            <span class="small text-light-gray">• Image size: < 1 MB <br>• Image type: JPG, PNG<br>• Dimensions: 512x512 px<br>• File name: Can be alphanumeric, hyphen and underscore with a maximum of 100 characters</span>
          </div>
        </div>

        <div class="row mt-4 m-1">
          <div class="col-md-12 col-lg-12">
            <label class="required">Upload Cover Photos</label>
            <br>
            <div class="row">
              <div *ngFor="let imgSrc of coverImgSrcList;">
                <image-preview (deleteImageEvent)="deleteImage($event, 'cover_photos')" [imageId]="imgSrc['id']"
                               [imageSrc]="imgSrc['url']"
                               imageType="cover_photos"></image-preview>
              </div>
              <div *ngIf="coverImgSrcList.length<10">
                <img (click)="browseFiles('cover_photos')" class="ml-3 cursor-pointer" height="34"
                     src="/assets/images/upload-image.png"
                     width="70"/>
              </div>
            </div>
            <form-input (change)="onFileChange($event, 'cover_photos')" inputType="file"
                        name="cover_photos"></form-input>
            <span class="small text-light-gray">• Image size: < 1 MB <br>• Image type: JPG, PNG<br>• Dimensions: 1024x500 px<br>• Maximum limit: 10 images<br>• File name: Can be alphanumeric, hyphen and underscore with a maximum of 100 characters</span>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="variantInfoPanel">
      <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
        <accordion-header [accordion]="accordion" [opened]="opened" [panelId]="'variantInfoPanel'"
                          title='Variant Information'></accordion-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <label class="required">Variant Property</label>
            <div class="form-group form-group-variant_property">
              <ng-select [clearable]="false" [searchable]="false" formControlName="variant_property"
                         notFoundText="No variant found" placeholder="Small">
                <div *ngIf="itemDetailsForm.get('item_type').value !== null && meta[itemDetailsForm.get('item_type').value] !== undefined">
                  <ng-option *ngFor="let variant of meta[this.itemDetailsForm.get('item_type').value]['variant']"
                             [value]="variant['reference_id']">{{variant['title']}}</ng-option>
                </div>
              </ng-select>
              <div class="form-control-feedback has-danger"></div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <label>Variant Details</label>
        </div>
        <div *ngFor="let item of itemDetailsForm.get('variant_details')['controls']; let i = index;"
             formArrayName="variant_details">
          <form [formGroupName]="i" class="row {{item['controls'].className.value}}">
            <div class="col-md-3 col-lg-3">
              <div class="form-group form-group-variant_name">
                <input class="form-control form-control-lg" formControlName="variant_name" placeholder="regular"
                       type="text"/>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3">
              <div class="form-group form-group-variant_price">
                <input class="form-control form-control-lg" formControlName="variant_price" placeholder="120"
                       type="text"/>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 mt-3">
              <i (click)="deleteFormArrayItem('variant_details', i)" class="mt-6 dw dw-delete-3" type="button"></i>
            </div>
            <div class="form-feedback has-danger mt-1 mb-1 text-center"></div>
          </form>
        </div>
        <br>
        <button (click)="addFormArrayItem('variant_details')" class="btn btn-primary mt-6" type="button">Add Variant
        </button>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="filterPanel">
      <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
        <accordion-header [accordion]="accordion" [opened]="opened" [panelId]="'filterPanel'"
                          title='Filter Information'></accordion-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <div>
          <label class="required">Filterable Fields</label>
        </div>

        <div *ngFor="let item of itemDetailsForm.get('filterable_fields')['controls']; let i = index;"
             formArrayName="filterable_fields">
          <form [formGroupName]="i" class="row {{item['controls'].className.value}}">
            <div class="col-md-3 col-lg-3">
              <div class="form-group form-group-filter_name">
                <input class="form-control form-control-lg" formControlName="filter_name" placeholder="Brand"
                       type="text"/>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3">
              <div class="form-group form-group-filter_value">
                <input class="form-control form-control-lg" formControlName="filter_value" placeholder="Adidas"
                       type="text"/>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>
            <br>
            <div class="form-feedback has-danger mt-1 mb-1 text-center"></div>
          </form>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="metaPanel">
      <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
        <accordion-header [accordion]="accordion" [opened]="opened" [panelId]="'metaPanel'"
                          title='Metadata'></accordion-header>
      </ng-template>
      <ng-template ngbPanelContent>
        <div>
          <div>
            <label class="required">Metadata</label>
          </div>
          <div *ngFor="let item of itemDetailsForm.get('meta_data')['controls']; let i = index;"
               formArrayName="meta_data">
            <form [formGroupName]="i"
                  class="row  {{this.itemDetailsForm.get('meta_data')['controls'][i]['controls'].className.value}}">
              <div class="col-md-3 col-lg-3">
                <div class="form-group form-group-key">
                  <input class="form-control form-control-lg" formControlName="key" placeholder="Brand" type="text"/>
                  <div class="form-control-feedback has-danger"></div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="form-group form-group-value">
                  <input class="form-control form-control-lg" formControlName="value" placeholder="Adidas" type="text"/>
                  <div class="form-control-feedback has-danger"></div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 mt-3">
                <i (click)="deleteFormArrayItem('meta_data', i)" class="mt-6 dw dw-delete-3" type="button"></i>
              </div>
              <div class="form-feedback has-danger mt-1 mb-1 text-center"></div>
            </form>
          </div>
          <br>
          <button (click)="addFormArrayItem('meta_data')" class="btn btn-primary mt-6" type="button">Add metadata
          </button>
        </div>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>
  <div class="form-feedback has-danger mt-1 mb-1 text-center"></div>
  <div>
    <input class="btn btn-primary mt-3" type="submit">
  </div>
</form>
