<div class="header box-shadow">
  <div class="container-fluid d-flex justify-content-between">
    <div class="header-right">
      <div class="user-info-dropdown">
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            <span class="user-icon"><i class="dw dw-user1"></i></span>&nbsp;
            <span class="user-name">{{name}}</span>&nbsp;
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
            <a class="dropdown-item" routerLink="/profile"><i class="dw dw-user1"></i> Profile</a>
            <a class="dropdown-item" routerLink="#"><i class="dw dw-logout"></i> Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
