<div #parent>
  <form (ngSubmit)="resetPassword()" [formGroup]="forgotPwdForm">
    <aw-wizard navBarLayout="large-empty-symbols">
      <aw-wizard-step [navigationSymbol]="{ symbol: '1' }" stepTitle="Email Verification">
        <div class="form-wrap max-width-600 mx-auto padding-top-10">
          <div class="form-group form-group-email">
            <form (ngSubmit)="sendOtp()" formGroupName="otpForm">
              <input class="form-control form-control-lg" class="form-control" formControlName="email" id="email"
                     name="email"
                     placeholder="hello@example.com" required type="email"/>
              <div [apiError]="this.apiError['email']" [controlValue]="this.FC_email.value" [control]="this.FC_email"
                   [touched]="this.FC_email.touched"
                   class="form-control-feedback" formValidationMessage id="error-email"
                   label="email"></div>
              <div class="forgot-password">
                <button [disabled]="!this.forgotPwdForm.get('otpForm').valid" type="submit">Get OTP</button>
              </div>
            </form>
          </div>
          <div class="form-group form-group-otp">
            <input class="form-control form-control-lg" class="form-control" formControlName="otp" id="otp" name="otp"
                   placeholder="OTP" required type="password">
            <div [apiError]="this.apiError['otp']" [controlValue]="FC_otp.value" [control]="FC_otp" [touched]="FC_otp.touched"
                 class="form-control-feedback" formValidationMessage id="error-otp" label="OTP"></div>
            <div class="api-error" style="margin-top: 5px;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <button [disabled]="!this.exitFirstStep()" awNextStep class="btn btn-primary btn-block" type="button">Next
            </button>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step [navigationSymbol]="{ symbol: '2' }" stepTitle="Reset Password">
        <div class="form-wrap max-width-600 mx-auto padding-top-10">
          <div class="form-group form-group-password">
            <input class="form-control form-control-lg" class="form-control" formControlName="password" id="password"
                   name="password" placeholder="New password" required type="password">
            <div [controlValue]="FC_pwd.value" [control]="FC_pwd" [touched]="FC_pwd.touched" class="form-control-feedback"
                 formValidationMessage id="error-password" label="password"></div>
          </div>

          <div>
            <div class="form-group form-group-password_confirmation">
              <input class="form-control form-control-lg" class="form-control" formControlName="confirmPassword"
                     id="password_confirmation" name="password_confirmation" placeholder="Confirm password" required
                     type="password">
              <div [apiError]="this.apiError['password']" [controlValue]="FC_confirmPwd.value" [control]="FC_confirmPwd"
                   [touched]="FC_confirmPwd.touched"
                   class="form-control-feedback" formValidationMessage
                   id="error-password_confirmation" label="password_confirmation"></div>
            </div>
            <div class="api-error" style="margin-top: 5px;"></div>
            <small class="form-text text-muted">
              Your password must be minimum 6 characters with the combinations of letters, numbers or special
              characters.<br><br>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button awPreviousStep class="btn btn-outline-primary btn-block" type="button">Back</button>
          </div>
          <div class="col-6">
            <button (click)="resetPassword()" [disabled]="!this.forgotPwdForm.valid" awNextStep class="btn btn-primary btn-block"
                    type="button">Submit
            </button>
          </div>
        </div>
      </aw-wizard-step>
    </aw-wizard>
  </form>
</div>


<style>
  div.forgot-password button {
    color: #555;
    border: none;
    background-color: transparent;
  }

  div.forgot-password button:hover {
    color: #FF4141;
  }
</style>
