<form (ngSubmit)="resetPassword()" [formGroup]="forgotPwdForm" class="forgot-password">
  <div class="form-control-feedback has-danger padding-bottom-10 text-center"></div>
  <aw-wizard navBarLayout="large-empty-symbols">
    <aw-wizard-step [navigationSymbol]="{ symbol: '1' }" stepTitle="Email Verification">
      <div class="form-wrap max-width-600 mx-auto padding-top-10">
        <form (ngSubmit)="sendOtp()" [formGroup]="otpForm" class="forgot-password-otp">
          <form-input inputType="email" name="email" placeholder="hello@example.com"></form-input>
          <div class="get-otp">
            <button [disabled]="!this.otpForm.valid" type="submit">Get OTP</button>
          </div>
        </form>
        <form-input inputType="password" name="otp" placeholder="OTP" ></form-input>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <button [disabled]="!this.exitFirstStep()" awNextStep class="btn btn-primary btn-block" type="button">Next</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [navigationSymbol]="{ symbol: '2' }" stepTitle="Reset Password">
      <div class="form-wrap max-width-600 mx-auto padding-top-10">
        <form-input inputType="password" name="password" placeholder="New Password" ></form-input>
        <form-input inputType="password" name="confirm_password" placeholder="Confirm Password" ></form-input>
      </div>
      <div class="row">
        <div class="col-6">
          <button awPreviousStep class="btn btn-outline-primary btn-block" type="button">Back</button>
        </div>
        <div class="col-6">
          <button (click)="resetPassword()" [disabled]="!this.forgotPwdForm.valid" awNextStep
                  class="btn btn-primary btn-block"
                  type="button">Submit
          </button>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</form>

<style>
  form.forgot-password-otp div.get-otp {
    text-align: right;
  }

  form.forgot-password-otp div.get-otp button {
    color: #555;
    margin-bottom: 12px;
    border: none;
    background-color: transparent;
  }

  form.forgot-password-otp div.get-otp button:hover {
    color: #FF4141;
  }
</style>
