<div class="left-side-bar">
  <div class="brand-logo">
    <a [routerLink]="getRoute('DASHBOARD')"><img alt="" src="/assets/images/zinger-text.svg"></a>
  </div>
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li>
          <a class="dropdown-toggle no-arrow" href="#">
            <span class="micon dw dw-shopping-cart"></span><span class="mtext">Orders</span>
          </a>
        </li>
        <li>
          <a class="dropdown-toggle no-arrow" routerLink="/addShop">
            <span class="micon dw dw-shop"></span><span class="mtext">Shops</span>
          </a>
        </li>
        <li>
          <a class="dropdown-toggle no-arrow" href="#">
            <span class="micon dw dw-user-13"></span><span class="mtext">Employees</span>
          </a>
        </li>
        <li>
          <a class="dropdown-toggle no-arrow" href="#">
            <span class="micon dw dw-key3"></span><span class="mtext">Access Control</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>
