<breadcrumb [data]="breadCrumbData" title="Shops"></breadcrumb>
<div class="card-box overflow-hidden p-4">
  <form (ngSubmit)="updateFilters()" [formGroup]="shopSearchForm" class="shop-search">
    <div class="row">
      <div class="col-6">
        <range-date-picker #datePicker (dateSelectionEvent)="onDateSelection($event)"
                           [fromDate]="this.shopSearchForm.get('start_date').value" [hoveredDate]="hoveredDate"
                           [toDate]="this.shopSearchForm.get('end_date').value"></range-date-picker>
      </div>
      <div class="col-6">
        <label>Search</label>
        <form-input inputType="text" name="id" placeholder="Shop Id"></form-input>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label>Status</label>
        <div class="form-group form-group-status">
          <ng-select [clearable]="false" [items]="statuses" [multiple]="true" [searchable]="false"
                     formControlName="status" placeholder="Status">
          </ng-select>
          <div class="form-control-feedback has-danger"></div>
        </div>
      </div>
      <div class="col-3">
        <label>Sort</label>
        <div class="form-group form-group-sort_order ml-2 pl-1">
          <div class="row mt-2">
            <div class="col-4 custom-control custom-radio">
              <input class="custom-control-input" formControlName="sort_order" id="asc" name="sort_order" type="radio"
                     value="ASC">
              <label class="custom-control-label" for="asc">ASC</label>
            </div>
            <div class="col-3 custom-control custom-radio">
              <input class="custom-control-input" formControlName="sort_order" id="dsc" name="sort_order" type="radio"
                     value="DESC">
              <label class="custom-control-label" for="dsc">DESC</label>
            </div>
          </div>
          <div class="form-control-feedback has-danger"></div>
        </div>
      </div>
      <div class="col-3"></div>
      <div class="col-1 mt-3">
        <button (click)="reset()" class="btn btn-outline-primary mt-4" type="button">Reset</button>
      </div>
      <div class="col-1 mt-3">
        <input class="btn btn-primary mt-4" type="submit" value="Apply"/>
      </div>
    </div>
    <div class="form-feedback has-danger mt-1 ml-3"></div>
  </form>

  <hr>
  <div class="d-flex pb-3">
    <div class="align-self-start">
      <span class="h5">Shops ({{totalElements}})</span>
    </div>
    <div class="ml-auto pr-2 text-primary"><a (click)="addShop()" class="cursor-pointer">New Shop</a></div>
  </div>
  <ngx-datatable
    #shopList
    (activate)="onRowClick($event)"
    (scroll)="onScroll($event.offsetY)"
    [columnMode]="ColumnMode.standard"
    [headerHeight]="headerHeight"
    [loadingIndicator]="isLoading"
    [rowHeight]="rowHeight"
    [rows]="rows"
    [scrollbarV]="true"
    class="material bg-white box-shadow-none border-1 server-scrolling-demo cursor-pointer"
    reorderable="false">

    <ngx-datatable-column [sortable]="false" [width]="50" name="Id" prop="id">
      <ng-template let-id="value" ngx-datatable-cell-template>
        {{id}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="250" name="Name" prop="name">
      <ng-template let-name="value" ngx-datatable-cell-template>
        {{name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="175" name="Category" prop="category">
      <ng-template let-category="value" ngx-datatable-cell-template>
        {{category}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="150" name="Status" prop="status">
      <ng-template let-status="value" ngx-datatable-cell-template>
        {{status}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="200" name="Area" prop="area">
      <ng-template let-area="value" ngx-datatable-cell-template>
        {{area}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="50" cellClass="p-3" name="" prop="item">
      <ng-template ngx-datatable-cell-template>
        <image-preview [disableDelete]="true" [disableSizing]="true" imageSrc="assets/images/shelf.png"></image-preview>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="50" cellClass="p-3" name="" prop="order">
      <ng-template ngx-datatable-cell-template>
        <image-preview [disableDelete]="true" [disableSizing]="true"
                       imageSrc="assets/images/clipboard.png"></image-preview>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
