<div class="min-height-200px">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="title">
          <h4>Add Shop</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Shop</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>


  <form (ngSubmit)="submitShopDetails()" [formGroup]="shopDetailsForm" class="shopDetailsForm">
    <div class="form-feedback has-danger padding-bottom-10 text-center"></div>
    <ngb-accordion activeIds="ngb-panel-0" (panelChange)="beforeChange($event)">

      <ngb-panel title="Basic Information">
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Shop Name</label>
              <form-input inputType="text" name="shop_name" placeholder="Shop Name"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <div class="form-group">
                <label>Category</label>
                <ng-select formControlName="category" [clearable]="false" [searchable]="false" name="category">
                  <ng-option *ngFor="let category of categories" [value]="category">{{category}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Opening Time</label>
              <form-input inputType="time" name="openingTime" value="9:00 AM"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Closing Time</label>
              <form-input inputType="time" name="closingTime" value="9:00 PM"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Shop Description</label>
              <form-input inputType="text" name="description" placeholder="We serve tasty Biriyani"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Mobile</label>
              <form-input inputType="text" name="mobile" placeholder="9884098840"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Email</label>
              <form-input inputType="text" name="email" placeholder="john@gmail.com"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Telephone</label>
              <form-input inputType="text" name="telephone" placeholder="25745743"></form-input>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Contact Information">
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Address Line 1</label>
              <form-input inputType="text" name="address_line_1" placeholder="Address Line 1"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Address Line 2</label>
              <form-input inputType="text" name="address_line_2" placeholder="Address Line 2"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>City</label>
              <form-input inputType="text" name="city" placeholder="Enter City"></form-input>
            </div>

            <div class="form-group col-md-6 col-lg-6">
              <label>State</label>
              <ng-select formControlName="state" [clearable]="false" [searchable]="false" name="state">
                <ng-option *ngFor="let state of states" [value]="state">{{state}}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Country</label>
              <form-input inputType="text" name="country" placeholder="India"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Pincode</label>
              <form-input inputType="text" name="pincode" placeholder="600078"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Latitude</label>
              <form-input inputType="text" name="latitude" placeholder="99.87"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Longitude</label>
              <form-input inputType="text" name="longitude" placeholder="98.57"></form-input>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Pictures" id="photoPanel">
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label>Upload Icon</label>
              <i (click)="browseFiles('icon')" aria-hidden="true" class="icon-copy ml-3 fa fa-2x fa-upload"></i>

              <form-input inputType="file" name="icon" placeholder="Attach shop icon" class="file-input" (change)="onFileChange($event,'icon')"></form-input>
              <div *ngIf="iconSrc">
                <image-preview [imageSrc]="iconSrc" [imageName]="iconName"
                               (deleteImageEvent)="previewDeleted($event,'icon')"></image-preview>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label>Upload Cover Photos</label>
              <i (click)="browseFiles('cover_photos')" aria-hidden="true" class="icon-copy ml-3 fa fa-2x fa-upload"></i>

              <form-input (change)="onFileChange($event,'cover_photos')" class="file-input" inputType="file" multiple="true"
                          name="cover_photos" placeholder="Attach shop cover photos"></form-input>
              <div class="row">
                <div *ngFor="let imgSrc of coverImgSrcList; let i=index">
                  <image-preview [imageSrc]="imgSrc" [imageName]="coverImgNameList[i]"
                                 (deleteImageEvent)="previewDeleted($event,'cover_photos')"></image-preview>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Payment Information">
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>Account Number</label>
              <form-input inputType="text" name="account_number" placeholder="99889000292"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Account Holder Name</label>
              <form-input inputType="text" name="account_holder_name" placeholder="John Doe"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>IFSC Code</label>
              <form-input inputType="text" name="ifsc_code" placeholder="SBIN0021745"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>PAN Number</label>
              <form-input inputType="text" name="pan_number" placeholder="BYHKL628"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label>GST Number</label>
              <form-input inputType="text" name="gst_number" placeholder="09AAACS4457Q1ZO"></form-input>
            </div>
          </div>

        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <div class="row">
      <div class="col-6 mt-3">
        <input [disabled]="!canSubmitForm()" class="btn btn-primary btn-block" type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>
