<div class="min-height-200px">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="title">
          <h4>Register Shop</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Shop</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>


  <form (ngSubmit)="submitShopDetails()" [formGroup]="shopDetailsForm" class="shopDetailsForm">
    <div class="form-feedback has-danger padding-bottom-10 text-center"></div>
    <ngb-accordion #accordion="ngbAccordion" activeIds="ngb-panel-0" (panelChange)="onAccordionExpandListener($event)">

      <ngb-panel id="basicInfoPanel">
        <ng-template ngbPanelHeader let-opened="opened" class="panel-header">
          <accordion-header (click)="expandPanel(accordion,'basicInfoPanel')" [opened]="opened"
                            title='Basic Information'></accordion-header>
        </ng-template>

        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Shop Name</label>
              <form-input inputType="text" name="name" placeholder="Domino's Pizza"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label class="required">Category</label>
              <div class="form-group form-group-category">
                <ng-select formControlName="category" [clearable]="false" [searchable]="false" [items]="categories" placeholder="Select">
                </ng-select>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Opening Time</label>
              <div class="form-group form-group-opening_time">
                <input formControlName="opening_time" placeholder="09:30 AM" aria-label="12hr format" [format]="24" [ngxTimepicker]="openingTime" class="form-control form-control-lg">
                <ngx-material-timepicker #openingTime></ngx-material-timepicker>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>


            <div class="col-md-6 col-lg-6">
              <label class="required">Closing Time</label>
              <div class="form-group form-group-closing_time">
                <input formControlName="closing_time" placeholder="09:30 PM" [format]="24" aria-label="12hr format" [ngxTimepicker]="closingTime" class="form-control form-control-lg">
                <ngx-material-timepicker #closingTime></ngx-material-timepicker>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Mobile</label>
              <form-input inputType="text" name="mobile" placeholder="9884098840"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label>Telephone</label>
              <form-input inputType="text" name="telephone" placeholder="25745743"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Shop Description</label>
              <div class="form-group form-group-description">
                <textarea rows="6" formControlName="description" placeholder="Describe your restaurant in less than 250 words" class="form-control form-control-lg"></textarea>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>

            <div class="col-md-6 col-lg-6">
              <div>
                <label class="required">Email</label>
                <form-input inputType="text" name="email" placeholder="john@gmail.com"></form-input>
              </div>

              <div>
                <label class="required">Tags</label>
                <form-input inputType="text" name="tags" placeholder="Chinese, Tandoori, Biriyani, Dessert"></form-input>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="contactInfoPanel">
        <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
          <accordion-header (click)="expandPanel(accordion,'contactInfoPanel')" [opened]="opened"
                            title='Location Information'></accordion-header>
        </ng-template>

        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Address Line 1</label>
              <form-input inputType="text" name="address_line_1" placeholder="No 226, Eden Gardens"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label class="required">Address Line 2</label>
              <form-input inputType="text" name="address_line_2" placeholder="Nehru Street, Anna Nagar"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">City</label>
              <form-input inputType="text" name="city" placeholder="Chennai"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label class="required">State</label>
              <div class="form-group form-group-state">
                <ng-select formControlName="state" [clearable]="false" [searchable]="false" placeholder="Select">
                  <ng-option *ngFor="let state of states" [value]="state">{{state}}</ng-option>
                </ng-select>
                <div class="form-control-feedback has-danger"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Pincode</label>
              <form-input inputType="text" name="pincode" placeholder="600078"></form-input>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="required">Latitude</label>
              <form-input inputType="text" name="latitude" placeholder="99.87"></form-input>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="required">Longitude</label>
              <form-input inputType="text" name="longitude" placeholder="98.57"></form-input>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="mediaInfoPanel">
        <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
          <accordion-header (click)="expandPanel(accordion,'mediaInfoPanel')" [opened]="opened"
                            title='Media Information'></accordion-header>
        </ng-template>

        <ng-template ngbPanelContent>
          <div class="row m-1 min-height-200px">
            <div class="col-md-12 col-lg-12">
              <label class="required">Upload Icon</label>
              <br>
              <div *ngIf="iconSrc; else placeholderimage">
                <image-preview imageType="icon" [imageSrc]="iconSrc" [imageName]="iconName"
                               (deleteImageEvent)="previewDeleted($event,'icon')"></image-preview>
              </div>
              <ng-template #placeholderimage>
                <div class="mt-3 cursor-pointer">
                  <img (click)="browseFiles('icon')" alt="upload image" class="opacity-50"
                       src="/assets/images/upload-image.png"/>
                </div>
              </ng-template>
              <form-input inputType="file" name="icon" placeholder="Attach shop icon" class="file-input" (change)="onFileChange($event,'icon')"></form-input>
              <span class="small text-light-gray">• Image size: < 1 MB <br>• Image type: JPG, PNG<br>• Dimensions: 512x512 px</span>
            </div>
          </div>

          <div class="row mt-4 m-1 min-height-200px">
            <div class="col-md-12 col-lg-12">
              <label class="required">Upload Cover Photos</label>
              <br>
              <div class="row">
                <div *ngFor="let imgSrc of coverImgSrcList; let i=index">
                  <image-preview imageType="cover_photos" [imageSrc]="imgSrc" [imageName]="coverImgNameList[i]"
                                 (deleteImageEvent)="previewDeleted($event,'cover_photos')"></image-preview>
                </div>
                <div *ngIf="coverImgSrcList.length<5" class="mt-3 ml-3 cursor-pointer">
                  <img (click)="browseFiles('cover_photos')" alt="upload image" class="opacity-50"
                       src="/assets/images/upload-image.png"/>
                </div>
              </div>
              <form-input (change)="onFileChange($event,'cover_photos')" class="file-input" inputType="file" multiple="true"
                          name="cover_photos" placeholder="Attach shop cover photos"></form-input>
              <span class="small text-light-gray">• Image size: < 1 MB <br>• Image type: JPG, PNG<br>• Dimensions: 1024x500 px<br>• Maximum limit: 5 images</span>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel id="paymentInfoPanel">
        <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
          <accordion-header (click)="expandPanel(accordion,'paymentInfoPanel')" [opened]="opened"
                            title='Payment Information'></accordion-header>
        </ng-template>

        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Account Number</label>
              <form-input inputType="text" name="account_number" placeholder="99889000292"></form-input>
            </div>

            <div class="col-md-6 col-lg-6">
              <label class="required">PAN Number</label>
              <form-input inputType="text" name="pan" placeholder="BYHKL3197Z"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">IFSC Code</label>
              <form-input inputType="text" name="account_ifsc" placeholder="SBIN0021745"></form-input>
            </div>
            <div class="col-md-6 col-lg-6">
              <label>GST Number</label>
              <form-input inputType="text" name="gst" placeholder="09AAACS4457Q1ZO"></form-input>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-6">
              <label class="required">Account Holder Name</label>
              <form-input inputType="text" name="account_holder" placeholder="John Doe"></form-input>
            </div>
          </div>

        </ng-template>
      </ngb-panel>
    </ngb-accordion>

    <div *ngIf="this.formStatus==='DRAFT'" class="m-1">
      <div class="custom-control custom-checkbox mt-4">
        <input (click)="acceptTermsAndConditions()" type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">I have read and agreed to the <a href="#">terms and
          conditions</a> and <a href="#"> privacy policy</a></label>
      </div>
    </div>

    <input [disabled]="!canSubmitForm()" class="btn btn-primary mt-3" type="submit" value="Register">
  </form>
</div>
