<breadcrumb [data]="breadCrumbData" title="Items"></breadcrumb>
<div class="card-box overflow-hidden p-4">
  <form (ngSubmit)="updateFilters()" [formGroup]="itemSearchForm" class="item-search">
    <div class="row">
      <div class="col-3">
        <label>Type</label>
        <div class="form-group form-group-item_type">
          <ng-select (change)="resetCategoryFilter()" [clearable]="false" [searchable]="false"
                     class="text-capitalize" formControlName="item_type" notFoundText="No type found"
                     placeholder="Food">
            <ng-option *ngFor="let type of Array.from(meta.keys())" [value]="type">{{type}}</ng-option>
          </ng-select>
          <div class="form-control-feedback has-danger"></div>
        </div>
      </div>
      <div class="col-5">
        <label>Category</label>
        <div class="form-group form-group-category">
          <ng-select [clearable]="false" [multiple]="true" [searchable]="false" formControlName="category"
                     notFoundText="No category found" placeholder="South Indian">
            <ng-option
                    *ngFor="let category of meta?.get(itemSearchForm.get('item_type').value)?.get('category') | keyvalue"
                    [value]="category.key">{{category.value}}</ng-option>
          </ng-select>
          <div class="form-control-feedback has-danger"></div>
        </div>
      </div>
      <div class="col-4">
        <label>Search</label>
        <form-input inputType="text" name="id" placeholder="Item Id"></form-input>
      </div>
    </div>
    <div class="row mt-1 mr-1">
      <div class="col-3 mt-2">
        <div class="form-group form-group-include_inactive">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" formControlName="include_inactive" id="include_inactive"
                   type="checkbox">
            <label class="custom-control-label" for="include_inactive">Include INACTIVE</label>
          </div>
          <div class="form-control-feedback has-danger"></div>
        </div>
      </div>
      <div class="col-7"></div>
      <div class="col-1">
        <button (click)="reset()" class="btn btn-outline-primary" type="button">Reset</button>
      </div>
      <div class="col-1">
        <input [disabled]="!itemSearchForm.valid" class="btn btn-primary" type="submit" value="Apply"/>
      </div>
    </div>
    <div class="form-feedback has-danger mt-1 ml-3"></div>
  </form>

  <hr>
  <div class="d-flex pb-3">
    <div class="align-self-start">
      <span class="h5">Items ({{totalElements}})</span>
    </div>
  </div>
  <ngx-datatable
    (activate)="onRowClick($event)"
    (scroll)="onScroll($event.offsetY)"
    [columnMode]="ColumnMode.standard"
    [headerHeight]="headerHeight"
    [loadingIndicator]="isLoading"
    [rowHeight]="rowHeight"
    [rows]="rows"
    [scrollbarV]="true"
    class="material bg-white box-shadow-none border-1 server-scrolling-demo cursor-pointer"
    reorderable="false">

    <ngx-datatable-column [sortable]="false" [width]="50" cellClass="p-2" name="" prop="icon">
      <ng-template let-icon="value" ngx-datatable-cell-template>
        <image-preview [disableDelete]="true" [disableSizing]="true" [imageSrc]="icon"></image-preview>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="250" name="Id" prop="id">
      <ng-template let-id="value" ngx-datatable-cell-template>
        {{id}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="250" name="Name" prop="name">
      <ng-template let-name="value" ngx-datatable-cell-template>
        {{name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="175" cellClass="text-capitalize" name="Type" prop="item_type">
      <ng-template let-item_type="value" ngx-datatable-cell-template>
        {{item_type}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="175" name="Category" prop="category">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{this.meta?.get(row.item_type)?.get('category')?.get(row.category) || row.category}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [sortable]="false" [width]="150" cellClass="text-uppercase" name="Status" prop="status">
      <ng-template let-status="value" ngx-datatable-cell-template>
        {{status}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
