<div
  class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7">
        <img src="/assets/images/login.svg" alt="" />
      </div>

      <div class="col-md-6 col-lg-5">
        <div class="login-box bg-white box-shadow border-radius-10">
          <div class="login-title">
            <h2 class="text-center text-primary">
              <!-- Login to <%= PlatformConfig['name'] %> -->
              Login to Zinger
            </h2>
          </div>
          <!-- <form_tag session[:authorization].blank? ? auth_login_index_path : verify_otp_auth_login_index_path do> -->
          <div class="select-role">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn">
                <!-- <input type="radio" name="user_type" value="Admin" required <%= 'disabled' if session[:authorization].present? %>> -->
                <input type="radio" name="user_type" value="Admin" required />
                <div class="icon">
                  <img src="/assets/images/briefcase.svg" class="svg" alt="" />
                </div>
                <span>I'm Cocomo</span>
                <!-- <span>I'm <%= PlatformConfig['name'] %></span> -->
                Admin
              </label>
              <!-- TODO: Change logic when admin user login is integrated - Logesh -->
              <!-- <label class="btn <%= 'active' if session[:authorization].present? %>"> -->
              <label class="btn active">
                <!-- <input type="radio" name="user_type" value="Employee" required <%= 'checked disabled' if session[:authorization].present? %>> -->
                <input
                  type="radio"
                  name="user_type"
                  value="Employee"
                  required
                />
                <div class="icon">
                  <img src="/assets/images/person.svg" class="svg" alt="" />
                </div>
                <span>I'm Cocomo</span>
                <!-- <span>I'm <%= PlatformConfig['name'] %></span> -->
                Employee
              </label>
            </div>
          </div>

          <div>
            <div class="input-group custom">
              <input
                [(ngModel)]="email"
                type="email"
                name="email"
                class="form-control form-control-lg"
                placeholder="hello@example.com"
                required
              />
              <div class="input-group-append custom">
                <span class="input-group-text"
                  ><i class="icon-copy dw dw-email"></i
                ></span>
              </div>
            </div>

            <div class="input-group custom">
              <input
                [(ngModel)]="password"
                type="password"
                name="password"
                class="form-control form-control-lg"
                placeholder="**********"
                required
              />
              <div class="input-group-append custom">
                <span class="input-group-text"
                  ><i class="dw dw-padlock1"></i
                ></span>
              </div>
            </div>

            <div class="row pb-30">
              <div class="col-6"></div>
              <div class="col-6">
                <div class="forgot-password">
                  Forgot Password?
                  <!-- <%= link_to 'Forgot Password?',
                  auth_forgot_password_index_path %> -->
                </div>
              </div>
            </div>

            <div class="input-group mb-0">
              <input
                (click)="login()"
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                value="Login Now"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
