<div class="min-height-200px">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="title">
          <h4>Profile</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mb-20">
      <div class="card-box overflow-hidden">
        <div class="profile-setting">
          <form class="col-md-12 pd-20">
            <div class="form-group">
              <label>Full Name</label>
              <input class="form-control form-control-lg" type="text" value="{{name}}">
            </div>
            <div class="form-group">
              <label>Email Address</label>
              <input class="form-control form-control-lg" disabled type="email" value="{{email}}">
            </div>
            <div class="form-group">
              <label>Mobile Number</label>
              <input class="form-control form-control-lg" disabled type="text" value="+91 {{mobile}}">
            </div>
            <div class="form-group">
              <label>Role</label>
              <ng-select [(ngModel)]="selectedRole" [clearable]="false" [searchable]="false" disabled name="role">
                <ng-option *ngFor="let role of roles" [value]="role">{{role}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group">
              <label>2FA Enabled</label><br>
              <ui-switch [(ngModel)]="enable" name="tfa_enabled"></ui-switch>
            </div>
            <div class="form-group mb-0">
              <input class="btn btn-primary" type="submit" value="Update Profile">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mb-20">
      <div class="card-box overflow-hidden">
        <div class="profile-setting">
          <form class="col-md-12 pd-20">
            <div class="form-group">
              <label>Current Password</label>
              <input class="form-control form-control-lg" type="password">
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input class="form-control form-control-lg" type="password">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input class="form-control form-control-lg" type="password">
            </div>
            <div class="form-group mb-0">
              <input class="btn btn-primary" type="submit" value="Change Password">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
