<div class="min-height-200px">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="title">
          <h4>Profile</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mb-20">
      <div class="card-box overflow-hidden">
        <div class="profile-setting">
          <form (ngSubmit)="updateProfile()" [formGroup]="profileForm" class="col-md-12 pd-20 profile">
            <div class="form-feedback has-danger padding-bottom-10 text-center"></div>

            <label>Name</label>
            <form-input inputType="text" name="name" placeholder="Logesh"></form-input>

            <label>Email Address</label>
            <form-input inputType="email" name="email" placeholder="hello@example.com" readonly="true"></form-input>

            <label>Mobile Number</label>
            <form-input inputType="text" name="mobile" placeholder="9884098840"></form-input>

            <div class="form-group">
              <label>2FA Enabled</label><br>
              <ui-switch (click)="updateTwoFactor()" formControlName="two_fa_enabled"></ui-switch>
            </div>
            <input [disabled]="!this.profileForm.valid" class="btn btn-primary" type="submit" value="Update Profile">
          </form>
        </div>
      </div>

      <ng-template #content let-modal>
        <form (ngSubmit)="updateMobile()" [formGroup]="otpForm" class="otp p-2">

          <div class="form-feedback has-danger padding-bottom-10 text-center"></div>

          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Mobile Number</h4>
            <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <label>OTP</label>
            <form-input inputType="text" name="otp" placeholder="123456"></form-input>
            <div class="pb-3 resend-otp">
              <div class="float-right"><span (click)="this.sendOtp()">Resend OTP</span></div>
            </div>
          </div>

          <div class="modal-footer">
            <input [disabled]="!this.otpForm.valid" class="btn btn-primary" type="submit" value="Update">
          </div>
        </form>
      </ng-template>

    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-10 mb-20">
      <div class="card-box overflow-hidden">
        <div class="profile-setting">
          <form (ngSubmit)="updatePassword()" [formGroup]="resetPwdForm" class="col-md-12 pd-20 reset-password">
            <div class="form-feedback has-danger padding-bottom-10 text-center"></div>

            <label>Current Password</label>
            <form-input inputType="password" name="current_password" placeholder="**********"></form-input>

            <label>New Password</label>
            <form-input inputType="password" name="new_password" placeholder="**********"></form-input>

            <label>Confirm Password</label>
            <form-input inputType="password" name="confirm_password" placeholder="**********"></form-input>

            <input [disabled]="!this.resetPwdForm.valid" class="btn btn-primary" type="submit" value="Change Password">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
