<ngx-datatable
    class="bootstrap bg-white"
    [rows]="rows"
    [sortType]="SortType.multi"
    [columnMode]="ColumnMode.force"
    [loadingIndicator]="isLoading"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    reorderable="true"
  >

 <!-- <ngx-datatable-column name="Id" prop="id" [width]="5">
    <ng-template let-id="value" ngx-datatable-cell-template>
       {{id}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name" prop="name" [width]="200">
    <ng-template let-name="value" ngx-datatable-cell-template>
        {{name}}
    </ng-template>
  </ngx-datatable-column> -->

</ngx-datatable>
