<div class="p-3 m-1 bg-white">
  <form (ngSubmit)="getShopList()" [formGroup]="shopSearchForm" class="shop-search row">   
    <div class="col-5">
      <label>From-To</label>
      <!-- <form-input inputType="date" name="startDate" placeholder=""></form-input> -->
      <div class="form-inline">
        <div class="form-group hidden">
          <div class="input-group">
            <input name="datepicker"
                   class="form-control"
                   ngbDatepicker
                   #datepicker="ngbDatepicker"
                   [autoClose]="'outside'"
                   (dateSelect)="onDateSelection($event)"
                   [displayMonths]="2"
                   [dayTemplate]="t"
                   outsideDays="hidden"
                   [startDate]="fromDate!"
                   tabindex="-1">
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input #dpFromDate
                   class="form-control" placeholder="yyyy-mm-dd"
                   name="dpFromDate"
                   [value]="rangeDate"
                   (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">
      <label>Category</label>
      <div class="form-group form-group-status">
        <ng-select [clearable]="false" [items]="statuses" [searchable]="false" formControlName="status"
          [multiple]="true" placeholder="Select">
        </ng-select>
        <div class="form-control-feedback has-danger"></div>
      </div>
    </div>

    <div class="col-3">
      <label>Search</label>
      <form-input inputType="text" name="query" placeholder="Shop id or name "></form-input>
    </div>

    <div class="col-1 mt-3">
      <input type="submit" name="Submit" class="btn btn-primary mt-4"/>
    </div>

    <div class="form-feedback has-danger mt-4 ml-3"></div>
  </form>

  <p> <span class="h6">Shop</span> | <span class="small text-light-gray font-weight-bold"> Total({{rows.length}}) </span></p>
  <ngx-datatable
    class="material bg-white box-shadow-none border-1"
    [rows]="rows"
    [sortType]="SortType.multi"
    [columnMode]="ColumnMode.standard"
    [loadingIndicator]="false"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    reorderable="true"
    limit="3"
    offset="0"
  >

 <ngx-datatable-column name="Id" prop="id" [width]="50" [sortable]="false" [headerClass]="'h1'">
    <ng-template let-id="value" ngx-datatable-cell-template>
       {{id}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Name" prop="name" [width]="250" [sortable]="false">
    <ng-template let-name="value" ngx-datatable-cell-template>
        {{name}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Category" prop="category" [width]="200" [sortable]="false">
    <ng-template let-category="value" ngx-datatable-cell-template>
        {{category}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Status" prop="status" [width]="200" [sortable]="false">
    <ng-template let-status="value" ngx-datatable-cell-template>
        {{status}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Area" prop="area" [width]="200" [sortable]="false">
    <ng-template let-area="value" ngx-datatable-cell-template>
        {{ area }} 
    </ng-template>
  </ngx-datatable-column>
  
  <div style="margin-right: 50%;">
    <ngx-datatable-footer>
    <ng-template 
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
      let-isVisible="isVisible">
        <datatable-pager
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!((rowCount / pageSize) > 1)">
        </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
  </div>
</ngx-datatable>
</div>