<div class="min-height-200">
	<div class="page-header">
		<div class="row">
		  <div class="col-md-12 col-sm-12">
		    <div class="title">
		      <h4>Shop Approval</h4>
		    </div>
		    <nav aria-label="breadcrumb" role="navigation">
		      <ol class="breadcrumb">
		        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
		        <li aria-current="page" class="breadcrumb-item">Shop</li>
		        <li aria-current="page" class="breadcrumb-item active">1</li>
		      </ol>
		    </nav>
		  </div>
		</div>
	</div>
  <div class="bg-white rounded p-3 min-height-450">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Basic</a>
        <ng-template ngbNavContent>
          <div class="row p-3">
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Shop Name</label>
              <br>
              <span>Domino</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Category</label>
              <br>
              <span>Restaurant</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Opening Time</label>
              <br>
              <span>09:00</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Closing Time</label>
              <br>
              <span>21:30</span>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Status</label>
              <br>
              <span>draft</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Email</label>
              <br>
              <span>harsha1@gmail.com</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Mobile</label>
              <br>
              <span>9187679435</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Telephone</label>
              <br>
              <span>24745678</span>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-md-6 col-lg-6">
              <label class="text-primary">Description</label>
              <br>
              <textarea readonly rows="4" class="border-0 width-100">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.</textarea>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Tags</label>
              <br>
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </span>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Location</a>
        <ng-template ngbNavContent>
          <div class="row p-3">
            <div class="col-md-6 col-lg-6">
              <label class="text-primary">Street</label>
              <br>
              <textarea readonly rows="4" class="border-0 width-100">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.</textarea>
            </div>
            <div class="col-md-6 col-lg-6">
              <label class="text-primary">Area</label>
              <br>
              <textarea readonly rows="4" class="border-0 width-100">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.</textarea>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-2 col-lg-2">
              <label class="text-primary">City</label>
              <br>
              <span>Chennai</span>
            </div>
            <div class="col-md-2 col-lg-2">
              <label class="text-primary">State</label>
              <br>
              <span>Tamil Nadu</span>
            </div>
            <div class="col-md-2 col-lg-2">
              <label class="text-primary">Pincode</label>
              <br>
              <span>600078</span>
            </div>
            <div class="col-md-2 col-lg-2">
              <label class="text-primary">Latitude</label>
              <br>
              <span>+89.99</span>
            </div>
            <div class="col-md-2 col-lg-2">
              <label class="text-primary">Longitude</label>
              <br>
              <span>-178.08</span>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Media</a>
        <ng-template ngbNavContent>
          <div class="p-3">
            <label class="text-primary">Icon</label>
            <div class="row pl-3">
              <div class="ml-3" *ngIf="iconSrc;else iconNotFound">
                <img height="70" width="70" [src]="iconSrc"/>
              </div>
              <ng-template #iconNotFound>
                <span class="small text-light-gray">Icon Not Uploaded</span>
              </ng-template>
            </div>
          </div>
          <div class="p-3">
            <label class="text-primary">Cover Photos</label>
            <div class="row pl-3">
              <div *ngFor="let imgSrc of coverImgSrcList;">
                <div class="image-preview ml-3 pt-1">
                  <img height="34" width="70" [src]="imgSrc"/>
                </div>
              </div>
              <div *ngIf="coverImgSrcList.length==0">
                <span class="small text-light-gray">Cover Photos Not Uploaded</span>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Payment</a>
        <ng-template ngbNavContent>
          <div class="row p-3">
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Account Number</label>
              <br>
              <span>99889000292</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">IFSC Code</label>
              <br>
              <span>SBIN0021745</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">Account Holder Name</label>
              <br>
              <span>Harshavardhan</span>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">PAN Number</label>
              <br>
              <span>BYHKL3197Z</span>
            </div>
            <div class="col-md-3 col-lg-3">
              <label class="text-primary">GST Number</label>
              <br>
              <span>09AAACS4457Q1ZO</span>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>

<div class="mt-4">
  <ngb-accordion #accordion="ngbAccordion" [destroyOnHide]="false" activeIds="ngb-panel-0">
    <ngb-panel id="approvalPanel">
      <ng-template class="panel-header" let-opened="opened" ngbPanelHeader>
        <accordion-header (click)="expandPanel(accordion, 'approvalPanel')" [opened]="opened"
                          title='Update Status'></accordion-header>
      </ng-template>
       <ng-template ngbPanelContent>
         <div class="row">
           <div *ngIf="shopApprovalStatus == 'DRAFT'" class="col-3 pt-2 pl-4">
             Shop Status:  {{ this.shopApprovalStatus }}
           </div>
           <div *ngIf="shopApprovalStatus == 'PENDING';" class="row col-4">
             <div class="col-6">
               <button class="btn btn-outline-primary btn-block pr-2" type="button" (click)="this.showRejectShopRequestModal()">Reject</button>
             </div>
             <div class="col-6">
               <button class="btn btn-primary btn-block" type="button" (click)="updateShopApproval('APPROVE')">Approve</button>
             </div>
           </div>
           <div *ngIf="shopApprovalStatus == 'BLOCKED'" class="col-2">
             <button class="btn btn-primary btn-block" type="button" (click)="updateShopApproval('UNBLOCK')">Unblock</button>
           </div>
           <div *ngIf="shopApprovalStatus == 'ACTIVE'" class="col-2">
             <button class="btn btn-outline-primary btn-block" type="button" (click)="updateShopApproval('BLOCK')">Block</button>
           </div>
         </div>
         <div *ngIf="this.shopApprovalStatus == 'PENDING'" class="p-1 mt-4">
           <p class="font-weight-bold">Approval Comments</p>
           <div *ngFor="let comment of comments" class="pt-1">
             <comment [name]="comment.author" [timeOfComment]="comment.date" [comment]="comment.comment"></comment>
           </div>
         </div>
       </ng-template>
     </ngb-panel>
  </ngb-accordion>

  <ng-template #rejectShopRequest let-modal>
    <form (ngSubmit)="updateShopApproval('REJECT')" [formGroup]="rejectShopRequestForm" class="rejectShopRequest p-2">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reason For Rejection</h4>
        <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group form-group-reason mt-4">
          <textarea class="form-control form-control-lg" formControlName="reason" placeholder="Please add your comments in less than 250 characters" rows="6"></textarea>
          <div class="form-control-feedback has-danger"></div>
        </div>
      </div>
      <div class="form-feedback has-danger mt-1 mb-1 text-center"></div>
      <div class="modal-footer">
        <input [disabled]="!this.rejectShopRequestForm.valid" class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  </ng-template>
</div>
