<div class="login-title"><h2 class="text-center text-primary">Login to Zinger</h2></div>

<form (ngSubmit)="submitForm()" [formGroup]="authForm">
  <div class="select-role">
    <div class="btn-group btn-group-toggle" formControlName="role" ngbRadioGroup>
      <label class="btn" ngbButtonLabel>
        <input ngbButton type="radio" value="Admin">
        <div class="icon"><img alt="" class="svg" src="/assets/images/briefcase.svg"/></div>
        <span>I'm Cocomo</span>Admin
      </label>
      <label class="btn" ngbButtonLabel>
        <input ngbButton type="radio" value="Employee">
        <div class="icon"><img alt="" class="svg" src="/assets/images/person.svg"/></div>
        <span>I'm Cocomo</span>Employee
      </label>
    </div>
  </div>

  <form-input inputType="email" name="email" placeholder="hello@example.com"></form-input>
  <form-input inputType="password" name="password" placeholder="**********"></form-input>

  <div class="row pb-30">
    <div class="col-12">
      <div class="forgot-password"><a routerLink="/auth/forgot_password">Forgot Password?</a></div>
    </div>
  </div>

  <input class="btn btn-primary btn-lg btn-block" type="submit" value="Login Now"/>
</form>
