<div class="login-title"><h2 class="text-center text-primary">Login to Zinger</h2></div>
<aw-wizard class="hide-nav-bar" navBarLayout="small">
  <aw-wizard-step>
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="login">
      <div class="form-feedback has-danger padding-bottom-10 text-center"></div>
      <div class="select-role">
        <div class="btn-group btn-group-toggle" formControlName="user_type" ngbRadioGroup>
          <label class="btn" ngbButtonLabel>
            <input ngbButton type="radio" value="Admin">
            <div class="icon"><img alt="" class="svg" src="/assets/images/briefcase.svg"/></div>
            <span>I'm Cocomo</span>Admin
          </label>
          <label class="btn" ngbButtonLabel>
            <input ngbButton type="radio" value="Employee">
            <div class="icon"><img alt="" class="svg" src="/assets/images/person.svg"/></div>
            <span>I'm Cocomo</span>Employee
          </label>
        </div>
      </div>

      <form-input inputType="email" name="email" placeholder="hello@example.com"></form-input>
      <form-input inputType="password" name="password" placeholder="**********"></form-input>

      <div class="forgot-password"><a [routerLink]="redirectToForgotPassword()">Forgot Password?</a></div>

      <input [disabled]="!this.loginForm.valid" class="btn btn-primary btn-lg btn-block" type="submit"
             value="Login Now"/>
    </form>
  </aw-wizard-step>

  <aw-wizard-step>
    <form (ngSubmit)="verifyOtp()" [formGroup]="otpForm" class="otp">
      <div class="form-feedback has-danger padding-bottom-10 text-center"></div>
      <form-input inputType="password" name="otp" placeholder="Enter OTP"></form-input>
      <form (ngSubmit)="sendOTP()" class="resend-otp">
        <div class="otp-button">
          <button>Resend OTP</button>
        </div>
      </form>
      <input [disabled]="!this.otpForm.valid" awNextStep class="btn btn-primary btn-lg btn-block" type="submit"
             value="Verify OTP"/>
    </form>
  </aw-wizard-step>
</aw-wizard>

<style>
  form.resend-otp button {
    color: #555;
    margin-bottom: 12px;
    border: none;
    background-color: transparent;
  }
</style>
