<div class="login-header box-shadow">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="brand-logo">
      <a routerLink="#"><img alt="" src="/assets/images/zinger-text.svg"></a>
    </div>
    <div class="login-menu">
      <ul>
        <li>
          <a routerLink="/auth/login">{{componentName}}</a>
          <!--          <a routerLink="auth/register">Register</a>-->
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<div *ngIf="isAuthenticated; else elseBlock" class="header">-->
<!--  <div class="header-left"></div>-->
<!--  <div class="header-right">-->
<!--    <div class="user-info-dropdown">-->
<!--      <div class="dropdown">-->
<!--        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">-->
<!--          <span class="user-icon"><i class="dw dw-user1"></i></span>&nbsp;-->
<!--          <span class="user-name">{{ name }}</span>&nbsp;-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">-->
<!--          <a class="dropdown-item" href="/profile"><i class="dw dw-user1"></i> Profile</a>-->
<!--          <a class="dropdown-item" data-method="delete" href=""><i class="dw dw-logout"></i> Logout</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
