<div #parent>
  <aw-wizard navBarLayout="large-empty-symbols">
    <aw-wizard-step [navigationSymbol]="{ symbol: '1' }" stepTitle="Email Verification" (stepExit)="exitFirstStep($event)" [canExit]="canExitFirstStep">
      <div class="form-wrap max-width-600 mx-auto padding-top-10">
        <div class="form-group form-group-email">
          <input class="form-control form-control-lg" id="email" name="email" placeholder="hello@example.com" required
                 type="email" [(ngModel)]="inputEmail"/>
          <div class="form-control-feedback" id="error-email"></div>
          <div class="forgot-password">
            <button (click)="sendOtp()">Get OTP</button>
          </div>
        </div>
        <div class="form-group form-group-otp">
          <input class="form-control form-control-lg" id="otp" name="otp" placeholder="OTP" required
                 type="password" [(ngModel)]="inputOtp" >
          <div class="form-control-feedback" id="error-otp"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <button awNextStep class="btn btn-primary btn-block" type="button">Next</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [navigationSymbol]="{ symbol: '2' }" stepTitle="Reset Password">
      <div class="form-wrap max-width-600 mx-auto padding-top-10">
        <div class="form-group form-group-password">
          <input class="form-control form-control-lg" id="password" name="password" placeholder="New password"
                 required type="password" [(ngModel)]="inputPwd" #pwd>
          <div class="form-control-feedback" id="error-password"></div>
        </div>

        <div>
          <div class="form-group form-group-password_confirmation">
            <input class="form-control form-control-lg" id="password_confirmation" name="password_confirmation"
                   placeholder="Confirm password" required type="password" [(ngModel)]="inputConfirmPwd" #confirmPwd>
            <div class="form-control-feedback" id="error-password_confirmation"></div>
          </div>
          <small class="form-text text-muted">
            Your password must be minimum 6 characters with the combinations of letters, numbers or special
            characters.<br><br>
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button awPreviousStep class="btn btn-outline-primary btn-block" type="button">Back</button>
        </div>
        <div class="col-6">
          <button awNextStep class="btn btn-primary btn-block" type="button" (click)="resetPassword()">Submit</button>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</div>


<style>
  div.forgot-password button {
    color: #555;
    border: none;
    background-color: transparent;
  }

  div.forgot-password button:hover {
    color: #FF4141;
  }
</style>
