<div class="row">
  <div class="form-group hidden">
    <div class="input-group">
      <input name="datepicker"
             class="form-control d-none"
             ngbDatepicker
             #datepicker="ngbDatepicker"
             [autoClose]="'outside'"
             (dateSelect)="onDateSelection($event)"
             [displayMonths]="2"
             [dayTemplate]="t"
             outsideDays="hidden"
             [startDate]="fromDate!"
             tabindex="-1">
      <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>

  <div class="col-12">
    <label class="mb-2 pb-1">Date Range</label>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control bg-white" type="text" name="dateRange" [value]="this.dateRange" readonly="true" placeholder="From Date - To Date">
        <div class="input-group-append">
          <button class="btn btn-outline-grey calendar" (click)="datepicker.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>
</div>
