<div class="row">
  <div class="form-group hidden">
    <div class="input-group">
      <input #datepicker="ngbDatepicker"
             (dateSelect)="onDateSelection($event)"
             [autoClose]="'outside'"
             [dayTemplate]="t"
             [displayMonths]="2"
             [startDate]="fromDate!"
             class="form-control d-none"
             name="datepicker"
             ngbDatepicker
             outsideDays="hidden"
             tabindex="-1">
      <ng-template #t let-date let-focused="focused">
        <span (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
              [class.faded]="isHovered(date) || isInside(date)"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              class="custom-day">
          {{ date.day }}
        </span>
      </ng-template>
    </div>
  </div>

  <div class="col-12">
    <label class="mb-2 pb-1">Date Range</label>
    <div class="form-group">
      <div class="input-group">
        <input [value]="this.dateRange" class="form-control bg-white" name="dateRange" placeholder="From Date - To Date"
               readonly="true"
               type="text">
        <div class="input-group-append">
          <button (click)="datepicker.toggle()" class="btn btn-outline-grey calendar" type="button"></button>
        </div>
      </div>
    </div>
  </div>
</div>
