$aw-colors: (
  '_': (
    'default': (
      'border-color-default': rgba(24, 31, 72, .3),
      'background-color-default': rgba(24, 31, 72, .3),
      'symbol-color-default': rgba(24, 31, 72, .3),
      'border-color-hover': rgba(24, 31, 72, .32),
      'background-color-hover': rgba(24, 31, 72, .3),
      'symbol-color-hover': rgba(24, 31, 72, .32),
    ),
    'current': (
      'border-color-default': var(--blue),
      'background-color-default': var(--blue),
      'symbol-color-default': black,
      'border-color-hover': darken(#FF4141, 10%),
      'background-color-hover': darken(#FF4141, 5%),
      'symbol-color-hover': darken(#FF4141, 10%),
    ),
    'done': (
      'border-color-default': var(--blue),
      'background-color-default': var(--blue),
      'symbol-color-default': black,
      'border-color-hover': darken(#FF4141, 10%),
      'background-color-hover': darken(#FF4141, 5%),
      'symbol-color-hover': darken(#FF4141, 10%),
    )
  )
) !default;

$aw-line-color: rgba(24, 31, 72, .3) !default;
$aw-label-color-default: rgba(24, 31, 72, .6) !default;
$aw-label-color-hover: darken($aw-label-color-default, 20%) !default;
$aw-circle-border-width: 2.4px !default;
$aw-text-height: 12.5px !default;

aw-wizard-navigation-bar.horizontal ul.steps-indicator {
  font-size: 20px;
  color: black;
  font-weight: bold;

  li .label {
    text-transform: capitalize;
  }

  li.current, li.done {
    .label {
      color: #181f48;
    }
  }

  li.done:not(.editing):after {
    background-color: var(--blue) !important;
  }
}

@import '../../../node_modules/angular-archwizard/archwizard';
