
<div class="register-page-wrap d-flex align-items-center flex-wrap justify-content-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-7">
        <img src="assets/images/login.svg" alt="">
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="register-box bg-white box-shadow border-radius-10">
          <div class="wizard-content">
            <div class="forgot-pw-tab-wizard wizard-circle wizard">
              <h5>Email Verification</h5>
              <section>
                <div class="form-wrap max-width-600 mx-auto">
                  <div class="form-group form-group-email">
                    <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="hello@example.com" required>
                    <div class="form-control-feedback" id="error-email"></div>
                    <div class="forgot-password"><button>Get OTP</button></div>
                  </div>
                  <div class="form-group form-group-otp">
                    <input type="password" name="otp" id="otp" class="form-control form-control-lg" placeholder="OTP" required>
                    <div class="form-control-feedback" id="error-otp"></div>
                  </div>
                </div>
              </section>

              <h5>Reset Password</h5>
              <section>
                <div class="form-wrap max-width-600 mx-auto">
                  <div class="form-group form-group-password">
                    <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="New password" required>
                    <div class="form-control-feedback" id="error-password"></div>
                  </div>

                  <div>
                    <div class="form-group form-group-password_confirmation">
                      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control form-control-lg" placeholder="Confirm password" required>
                      <div class="form-control-feedback" id="error-password_confirmation"></div>
                    </div>
                    <small class="form-text text-muted">
                      <!-- Your password must be minimum <%= PASSWORD_MIN_LENGTH %> characters with the combinations of letters, numbers or special characters.<br><br> -->
                      afds
                    </small>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("div.forgot-pw-tab-wizard").steps({
    headerTag: "h5",
    bodyTag: "section",
    transitionEffect: "fade",
    titleTemplate: '<span class="step">#index#</span> <span class="info">#title#</span>',
    autoFocus: true,
    labels: {
      finish: "Submit",
      next: "Next",
      previous: "Back"
    },
    onStepChanging: function (event, currentIndex, newIndex) {
      email = $("div.form-group input#email")[0].value;
      error = {};

      if(email.length <= 0 || !email.match(/^\S+@\S+\.[a-z]+$/i))
        error = { param: 'email', message: 'Please provide a valid email' }
      else if($("div.form-group-email input#email").prop('readonly') != true)
        error = { param: 'email', message: "Please click 'Get OTP' button to receive OTP" }
      else if(!$("div.form-group input#otp")[0].value.match(/^[0-9]{6}$/g))
        error = { param: 'otp', message: 'Please provide a valid OTP' }

      if (error['param']) {
        show_error(error['param'], [error['message']]);
        return false;
      }

      return true;
    },
    onStepChanged: function(event, currentIndex, priorIndex) {
      $('.steps .current').prevAll().addClass('disabled');
    },
    onFinished: function(event, currentIndex) {
      password = $("div.form-group input#password")[0].value;
      password_confirmation = $("div.form-group input#password_confirmation")[0].value;
      error = {};

      if(password.length < 6)
        error = { param: 'password', message: 'Password should contain atleast 6 characters' }
      else if (password != password_confirmation)
        error = { param: 'password_confirmation', message: "Confirm Password doesn't match" }

      if (error['param']) {
        show_error(error['param'], [error['message']]);
        return false;
      }

      $.ajax({
        type: "POST",
        url: "<%= reset_password_auth_forgot_password_index_path %>",
        data: {
          auth_token: sessionStorage.getItem("auth_token"),
          otp: $("div.form-group input#otp")[0].value,
          password: password,
          password_confirmation: password_confirmation
        },
        success: function(data, status, xhr) {
          window.location = "<%= auth_login_index_path %>";
          return false;
        },
        error: function(xhr, status, error) {
          resp = xhr.responseJSON;
          param = Object.keys(resp['reason'])[0];
          show_error(param, resp['reason'][param]);
          if (param == 'otp')
            $("div.forgot-pw-tab-wizard").steps('previous');
          return false;
        }
      });
    }
  });

  $("div.forgot-password button").click(function() {
    email = $("div.form-group input#email")[0].value;
    if(email.length <= 0 || !email.match(/^\S+@\S+\.[a-z]+$/i)) {
      show_error('email', ['Please provide a valid email']);
      return false;
    }

    $.ajax({
      type: "POST",
      url: "<%= send_otp_auth_forgot_password_index_path %>",
      data: {
        email: email
      },
      success: function(data, status, xhr) {
        resp = xhr.responseJSON['data'];
        sessionStorage.setItem("auth_token", resp['auth_token']);
        $("div.form-group-email input#email").prop('readonly', 'true');
        hide_error("div.form-group-email input#email");
        return false;
      },
      error: function(xhr, status, error) {
        resp = xhr.responseJSON;
        param = Object.keys(resp['reason'])[0];
        show_error(param, resp['reason'][param]);
        return false;
      }
    });
  });
</script>

<style>
  div.form-wrap .otp {
    display: none;
  }
  div.forgot-password button {
    color: #555;
    border: none;
    background-color: transparent;
  }
  div.forgot-password button:hover {
    color: #FF4141;
  }
</style>
